.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 200px 161px 200px;
  border-radius: 16px;
  text-align: center;
  background-color: #f7f7f7;
}
.illustration {
  margin-bottom: 21px;
}
.title {
  font-size: 20px;
  font-weight: var(--fw-semibold);
  margin-bottom: 16px;
}
.subtitle {
  margin-bottom: 43px;
}
.actions {
  display: flex;
  gap: 16px;
}
.clearBtn {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 16px 38px;
  background-color: #ffffff;
  border: 1px solid #dadde1;
  border-radius: 200px;
}
.viewAllBtn {
  padding: 16px 32px;
  background-color: var(--color-accent);
  border-radius: 200px;
  color: #ffffff;
}
@media (max-width: 768px) {
  .wrapper {
    padding: 32px 24px;
  }
  .actions {
    flex-direction: column;
    width: 100%;
  }
  .clearBtn,
  .viewAllBtn {
    width: 100%;
    justify-content: center;
  }
}

@media (max-width: 375px) {
  .wrapper {
    padding: 24px 16px;
  }
  .illustration {
    max-width: 200px;
  }
}
