.headerGrey {
  background-color: #f7f7f7;
}
.container {
  display: flex;
  align-items: center;
  gap: 450px;
  padding: 28px 64px;
}
.nav {
  display: flex;
  align-items: center;
  gap: 32px;
}
.navLinkActive {
  color: var(--color-accent);
}
@media (max-width: 768px) {
  .container {
    gap: 24px;
    justify-content: space-between;
    padding: 20px 24px;
  }
}

@media (max-width: 375px) {
  .container {
    padding: 16px 20px;
  }

  .nav {
    gap: 16px;
  }
}
