.main {
  padding: 48px 64px 52px 63px;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 888px;
}
.layout {
  display: flex;
  align-items: flex-start;
  gap: 65px;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media (max-width: 768px) {
  .main {
    padding: 32px 24px;
  }
  .layout {
    flex-direction: column;
    gap: 24px;
  }
  .list {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .main {
    padding: 24px 16px;
  }
  .layout {
    gap: 16px;
  }
}
