.filters {
  display: flex;
  flex-direction: column;
  padding: 24px;
  width: 360px;
  background-color: #f7f7f7;
  border-radius: 20px;
}
.field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.label {
  font-weight: var(--fw-regular);
  color: var(--color-text-secondary);
}
.inputWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 20px;
  margin-bottom: 40px;
  background-color: #ffffff;
  border-radius: 12px;
  border: 1px solid transparent;
}
.inputIcon {
  flex-shrink: 0;
  color: #6c717b;
}
.inputIconActive {
  color: #101828;
}
.input {
  width: 100%;
  padding: 16px 0px;
  background-color: transparent;
  border: none;
  font-size: 16px;
  color: var(--color-text-primary);
}
.input:focus {
  outline: none;
}
.input::placeholder {
  color: var(--color-text-secondary);
}
.allFilters {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}
.title {
  font-size: 20px;
  font-weight: var(--fw-semibold);
  color: var(--color-text-primary);
  line-height: 1.2;
}
.fieldset {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: none;
}
.legend {
  margin-bottom: 8px;
  font-weight: var(--fw-regular);
  color: var(--color-text-secondary);
}
.radioLabel {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: var(--fw-regular);
  color: var(--color-text-primary);
  text-transform: capitalize;
  cursor: pointer;
}
.radio {
  appearance: none;
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  margin: 0;
  border: 1.5px solid #6c717b;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  flex-shrink: 0;
}
.radio:checked {
  border-color: var(--color-accent);
}
.radio:checked::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--color-accent);
}
.searchBtn {
  padding: 16px;
  margin-bottom: 16px;
  background-color: var(--color-accent);
  border-radius: 200px;
  color: #ffffff;
}
.searchBtn:hover {
  background-color: #6d7b75;
}

.clearBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 16px;
  background-color: #ffffff;
  border: 1px solid #dadde1;
  border-radius: 200px;
  color: var(--color-text-primary);
}
